{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>AllStore - MultiConcept eCommerce Template</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ion.rangeSlider.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ion.rangeSlider.skinFlat.css' %}">
    <link rel="stylesheet" href="{% static 'styles/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% static 'styles/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'styles/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'styles/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'styles/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">

</head>
<body>
<!-- Header - start -->
<header class="header">

    <!-- Topbar - start -->
    <div class="header_top">
        <div class="container">
            <ul class="contactinfo nav nav-pills">
                <li>
                    <i class='fa fa-phone'></i> +7 777 123 1575
                </li>
                <li>
                    <i class="fa fa-envelope"></i> admin@real-web.pro
                </li>
            </ul>
            <!-- Social links -->
            <ul class="social-icons nav navbar-nav">
                <li>
                    <a href="http://facebook.com" rel="nofollow" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://google.com" rel="nofollow" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com" rel="nofollow" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://vk.com" rel="nofollow" target="_blank">
                        <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com" rel="nofollow" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>		</div>
    </div>
    <!-- Topbar - end -->

    <!-- Logo, Shop-menu - start -->
    <div class="header-middle">
        <div class="container header-middle-cont">
            <div class="toplogo">
                <a href="{% url 'home'  %}">
                    <img src="img/logo.png" alt="AllStore - MultiConcept eCommerce Template">
                </a>
            </div>
            <div class="shop-menu">
                <ul>

                    <li>
                        <a href="{% url 'wishlist'  %}">
                            <i class="fa fa-heart"></i>
                            <span class="shop-menu-ttl">Wishlist</span>
                            (<span id="topbar-favorites">1</span>)
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'compare'  %}">
                            <i class="fa fa-bar-chart"></i>
                            <span class="shop-menu-ttl">Сравнение</span> (5)
                        </a>
                    </li>

                    <li class="topauth">
                        <a href="{% url 'auth' %}">
                            <i class="fa fa-lock"></i>
                            <span class="shop-menu-ttl">Registration</span>
                        </a>
                        <a href="{% url 'auth' %}">
                            <span class="shop-menu-ttl">Login</span>
                        </a>
                    </li>

                    <li>
                        <div class="h-cart">
                            <a href="{% url 'cart' %}">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="shop-menu-ttl">Cart</span>
                                (<b>0</b>)
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Logo, Shop-menu - end -->

    <!-- Topmenu - start -->
    <div class="header-bottom">
        <div class="container">
            <nav class="topmenu">

                <!-- Каталогmenu - start -->
                <div class="topcatalog">
                    <a class="topcatalog-btn" href="{% url 'catalog'  %}"><span>All</span> catalog</a>
                    <ul class="topcatalog-list">
                        <li>
                            <a href="{% url 'catalog'  %}">
                                Women
                            </a>
                            <i class="fa fa-angle-right"></i>
                            <ul>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Knitwear
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Dresses
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Bags
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Shoulder Bags
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Falabella
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Becks
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Clutches
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Travel Bags
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Accessories
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sunglasses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Tech Cases
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Jewelry
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Stella
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Coats & Jackets
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'catalog'  %}">
                                Men
                            </a>
                            <i class="fa fa-angle-right"></i>
                            <ul>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Jackets & Blazers
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Pants & Shorts
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Accessories
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Bags
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sunglasses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Other Accessories
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Suiting
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Shirts
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'catalog'  %}">
                                Kids
                            </a>
                            <i class="fa fa-angle-right"></i>
                            <ul>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Girls
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Outerwear
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                T-Shirts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Blouses & Shirts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Pants & Shorts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sleepwear & Underwear
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Skirts
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Boys
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Shoes & Accessories
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Jumpers & Cardigans
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Shirts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Outerwear
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Swimwear
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Baby
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Baby Sets
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Dresses & All-In-One
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Pants & Shorts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Shoes & Accessories
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                T-shirts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Outerwear
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'catalog'  %}">
                                Shoes
                            </a>
                            <i class="fa fa-angle-right"></i>
                            <ul>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Women
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Elyse
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Odette
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Brody
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Flats
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sandals
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Men
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Casual Shoes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sneakers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sandals
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Boots
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Mules & Clogs
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Children's
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Girls
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Boys
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'catalog'  %}">
                                        Baby Shoe
                                    </a>
                                    <i class="fa fa-angle-right"></i>
                                    <ul>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                First Walkers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sneakers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Boots
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'catalog'  %}">
                                                Sandals & Clogs
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Каталогmenu - end -->

                <!-- Main menu - start -->
                <button type="button" class="mainmenu-btn">Menu</button>

                <ul class="mainmenu">
                    <li>
                        <a href="{% url 'home'  %}">
                            Home
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="{% url 'catalog'  %}">
                            Каталог<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'catalog'  %}">
                                    КаталогList - Style 1
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'catalog_list_2'  %}">
                                    КаталогList - Style 2
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'catalog_gallery'  %}">
                                    КаталогGallery - Style 1
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'catalog_gallery_2'  %}">
                                    КаталогGallery - Style 2
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'catalog_table'  %}">
                                    КаталогTable
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="{% url 'catalog'  %}">
                            Товар<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'product'  %}">
                                    Товар- Style 1 (Slider)
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'product_2'  %}">
                                    Товар- Style 2 (Scroll)
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'elements'  %}">
                            Elements
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="{% url 'blog' %}">
                            Blog <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'blog' %}">
                                    Blog - Style 1
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'blog_2' %}">
                                    Blog - Style 2
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'post' %}">
                                    Single Post
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" class="active">
                            Pages <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'contacts'  %}">
                                    Contacts
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'cart' %}">
                                    Cart
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'auth' %}" class="active">
                                    Authorization
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'compare'  %}">
                                    Compare
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'wishlist'  %}">
                                    Wishlist
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'error' %}">
                                    Error 404
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mainmenu-more">
                        <span>...</span>
                        <ul class="mainmenu-sub"></ul>
                    </li>
                </ul>
                <!-- Main menu - end -->

                <!-- Search - start -->
                <div class="topsearch">
                    <a id="topsearch-btn" class="topsearch-btn" href="#"><i class="fa fa-search"></i></a>
                    <form class="topsearch-form" action="#">
                        <input type="text" placeholder="Search products">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Search - end -->

            </nav>		</div>
    </div>
    <!-- Topmenu - end -->

</header>
<!-- Header - end -->


<!-- Main Content - start -->
<main>
    <section class="container stylization maincont">


        <ul class="b-crumbs">
            <li>
                <a href="{% url 'home'  %}">
                    Home
                </a>
            </li>
            <li>
                <span>Registration / Login</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>Registration / Login</span></h1>
        <div class="auth-wrap">
            <div class="auth-col">
                <h2>Login</h2>
                <form method="post" class="login">
                    <p>
                        <label for="username">E-mail <span class="required">*</span></label><input type="text" id="username">
                    </p>
                    <p>
                        <label for="password">Password <span class="required">*</span></label><input type="password" id="password">
                    </p>
                    <p class="auth-submit">
                        <input type="submit" value="Login">
                        <input type="checkbox" id="rememberme" value="forever">
                        <label for="rememberme">Remember me</label>
                    </p>
                    <p class="auth-lost_password">
                        <a href="#">Lost your password?</a>
                    </p>
                </form>
            </div>
            <div class="auth-col">
                <h2>Register</h2>
<form method="POST" class="register" action="{% url 'register' %}">
    {% csrf_token %}
    <p>
        <label style="text-align: left;" for="reg_email">Email <span class="required">*</span></label>
        <input type="email" id="reg_email" name="reg_email">
    </p>
    <p>
        <label style="text-align: left;" for="reg_password">Password <span class="required">*</span></label>
        <input type="password" id="reg_password" name="reg_password">
    </p>
    <p>
        <label style="text-align: left;" for="reg_confirm_password">Confirm password <span class="required">*</span></label>
        <input type="password" id="reg_confirm_password" name="reg_confirm_password">
    </p>
    <p class="auth-submit">
        <input type="submit" value="Register">
    </p>
</form>

            </div>
        </div>



    </section>
</main>
<!-- Main Content - end -->


<!-- Footer - start -->
<footer class="footer-wrap">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="companyinfo">
                    <a href="{% url 'home'  %}">
                        <img src="img/logo-b.png" alt="AllStore - MultiConcept eCommerce Responsive HTML5 Template">
                        AllStore - MultiConcept eCommerce Responsive HTML5 Template
                    </a>
                </div>
                <div class="f-block-list">
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-1">
                                <div class="iframe-img">
                                    <img src="http://placehold.it/300x127" alt="About us">
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">About us</p>
                            <p>Shipping and payment information.</p>
                        </div>
                    </div>
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-2">
                                <div class="iframe-img">
                                    <img src="http://placehold.it/300x127" alt="Ask questions">
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Ask questions</p>
                            <p>We call back within 10 minutes</p>
                        </div>
                    </div>
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-3" data-content="<iframe width='853' height='480' src='https://www.youtube.com/embed/kaOVHSkDoPY?rel=0&amp;showinfo=0' allowfullscreen></iframe>">
                                <div class="iframe-img">
                                    <img src="http://placehold.it/300x127" alt="Video (2 min)">
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Video (2 min)</p>
                            <p>Watch a video about our store</p>
                        </div>
                    </div>
                    <div class="f-block-wrap">
                        <div class="f-block">
                            <a href="#" class="f-block-btn" data-id="#f-block-modal-4">
                                <div class="iframe-img">
                                    <img src="http://placehold.it/300x127" alt="Our address">
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </a>
                            <p class="f-info-ttl">Our address</p>
                            <p>Spain, Madrid, 45</p>
                        </div>
                    </div>
                </div>

                <div class="stylization f-block-modal f-block-modal-content" id="f-block-modal-1">
                    <img class="f-block-modal-img" src="http://placehold.it/500x334" alt="About us">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus iste ullam vero, tenetur ab ipsa consectetur deleniti officiis ex debitis incidunt alias voluptatum, maxime placeat dolores veniam sunt at atque velit, soluta. Neque ea alias quia provident molestias, ratione aut esse placeat beatae sequi sed laudantium. Unde animi nihil esse, repellendus exercitationem dicta harum ab labore, voluptates explicabo in, quidem dolorum voluptas!
                </div>
                <div class="stylization f-block-modal f-block-modal-callback" id="f-block-modal-2">
                    <div class="modalform">
                        <form action="#" method="POST" class="form-validate">
                            <p class="modalform-ttl">Callback</p>
                            <input type="text" placeholder="Your name" data-required="text" name="name">
                            <input type="text" placeholder="Your phone" data-required="text" name="phone">
                            <button type="submit"><i class="fa fa-paper-plane"></i> Send</button>
                        </form>
                    </div>
                </div>
                <div class="stylization f-block-modal f-block-modal-video" id="f-block-modal-3">

                </div>
                <div class="stylization f-block-modal f-block-modal-map" id="f-block-modal-4">
                    <div class="allstore-gmap">
                        <div class="marker" data-zoom="15" data-lat="-37.81485261872975" data-lng="144.95655298233032" data-marker="img/marker.png">534-540 Little Bourke St, Melbourne VIC 3000, Australia</div>
                    </div>
                </div>
                <div class="f-delivery">
                    <img src="img/map.png" alt="">
                    <h4>Free delivery in London</h4>
                    <p>We will deliver within 1 hour</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container f-menu-list">
        <div class="row">
            <div class="f-menu">
                <h3>
                    About us
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{% url 'home'  %}">Home</a></li>
                    <li><a href="{% url 'catalog'  %}">Каталог</a></li>
                    <li><a href="{% url 'elements'  %}">Elements</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contacts'  %}">Contacts</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Shop
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'catalog'  %}">Women</a></li>
                    <li><a href="{% url 'catalog'  %}">Men</a></li>
                    <li><a href="{% url 'catalog'  %}">Kids</a></li>
                    <li><a href="{% url 'catalog'  %}">Shoes</a></li>
                    <li><a href="{% url 'catalog'  %}">Accessories</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Information
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'blog' %}">News</a></li>
                    <li><a href="reviews.html">Reviews</a></li>
                    <li><a href="{% url 'blog' %}">Articles</a></li>
                    <li><a href="{% url 'contacts'  %}">Contacts</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Pages
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'contacts'  %}">About us</a></li>
                    <li><a href="{% url 'contacts'  %}">Delivery</a></li>
                    <li><a href="{% url 'contacts'  %}">Guarantees</a></li>
                    <li><a href="{% url 'contacts'  %}">Contacts</a></li>
                    <li><a href="{% url 'error' %}">Page 404</a></li>
                </ul>
            </div>
            <div class="f-subscribe">
                <h3>Subscribe to news</h3>
                <form class="f-subscribe-form" action="#">
                    <input placeholder="Your e-mail" type="text">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <ul class="social-icons nav navbar-nav">
                    <li>
                        <a href="http://facebook.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://google.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://vk.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">
                    <i><a href="https://themeforest.net/user/real-web?ref=real-web">Real-Web</a></i> © Copyright 2017
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer - end -->


<!-- jQuery plugins/scripts - start -->
<script src="{% static 'scripts/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'scripts/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'scripts/fancybox/fancybox.js' %}"></script>
<script src="{% static 'scripts/fancybox/helpers/jquery.fancybox-thumbs.js' %}"></script>
<script src="{% static 'scripts/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'scripts/swiper.jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'scripts/progressbar.min.js' %}"></script>
<script src="{% static 'scripts/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'scripts/jQuery.Brazzers-Carousel.js' %}"></script>
<script src="{% static 'scripts/plugins.js' %}"></script>
<script src="{% static 'scripts/main.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
<script src="{% static 'scripts/gmap.js' %}"></script>
<!-- jQuery plugins/scripts - end -->

</body>
</html>