<!DOCTYPE html>
<html lang="en">
<head>
    <title>Официальный сайт Сredo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/shortlogoC.png" type="image/png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://putracetol.com/">
    <link rel="preconnect" href="https://putracetol.com/">
    <!-- CSS -->
    <link rel="stylesheet" href="../staticstyles/style.css">
    <link rel="stylesheet" href="../staticstyles/brends.css">
    <!-- JS -->
    <script src="../staticscripts/shadow.js"></script>
</head>
<body>
<div class="page">
    <header>
        <div id="hover" class="header_nav">
            <div class="container">
                <a class="header_logo hover" href="home.html" id="logo">C R E D O</a>
                <ul class="header_list" id="menu" class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                    <a href="brends.html" class="header_menu">
                        <li class="nav-item">Обувь</li>
                    </a>
                    <a href="brends.html" class="header_menu">
                        <li class="nav-item">Штаны</li>
                    </a>
                    <a href="brends.html" class="header_menu">
                        <li>Худи</li>
                    </a>
                    <a href="brends.html" class="header_menu">
                        <li>Куртки</li>
                    </a>
                    <a href="brends.html" class="header_menu">
                        <li>Аксуссуары</li>
                    </a>
                </ul>
            </div>
            <div id="header_shadow" class="header_shadow"></div>
        </div>
    </header>

    <div class='wrapper'>
        <div class='card'>
            <a href="shoes.html"><img class='card-img' src='../credo/static/img/redhead.jpg'></a>
            <img class="card-img_animate" src='rhd.gif'>
            <div class='btn-keeper'>
            </div>
        </div>
    </div>