{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/account.css' %}">
</head>
<body>
<div class="popup" id="popup">
    <div class="popup__body">
        <div class="popup__close-area close-popup"></div>
        <div class="popup__content">
            <span class="popup__title">Вход</span>
            {% if messages %}
                            {% for message in messages %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
            <form class="popup__form" action="{% url 'entrance' %}" method="POST">
                {% csrf_token %}
                <div class="popup__field">
                    <label class="popup__label" for="">Эл.почта</label>
                    <input maxlength="255" type="email" name="email" required="required" class="popup__input">
                </div>

                <div class="popup__field">
                    <label class="popup__label" for="password">Пароль</label>
                    <input maxlength="255" type="password" name="password" required="required" class="popup__input">
                </div>

                <button type="entry" class="popup__sign-up">Войти</button>

            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>