{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/shortlogoC.png' %}" type="image/png">
    <title>Официальный сайт Сredo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://putracetol.com/">
    <link rel="preconnect" href="https://putracetol.com/">

    <link rel="stylesheet" href="{% static 'styles/nb990.css' %}">
    <script src="{% static 'scripts/shadow.js' %}"></script>
</head>
<body>
<div class="page">
    <header>
        <div id="hover" class="header_nav">
            <div class="container">
                <a class="header_logo hover" href="home.html" id="logo">C R E D O</a>
                <ul class="header_list" id="menu">
                    <a href="{% url 'shoes' %}" class="header_menu">
                        <li>Обувь</li>
                    </a>
                    <a href="" class="header_menu">
                        <li>Штаны</li>
                    </a>
                    <a href="" class="header_menu">
                        <li>Худи</li>
                    </a>
                    <a href="" class="header_menu">
                        <li>куртки</li>
                    </a>
                    <a href="" class="header_menu">
                        <li>Аксуссуары</li>
                    </a>
                </ul>
            </div>
            <div id="header_shadow" class="header_shadow"></div>
        </div>
    </header>
    <section class="main-home">

        <div class="opisanie">
            <p>Преимущества кроссовок New balance 990:<br>
                <b>1.Удобство.</b>Когда надеваешь кроссовки, складывается впечатление,
                что ступня помещена в какую-то приятную оболочку.
                В ней можно передвигаться по любой поверхности,
                не заботясь о различных осадках.<br>
                <b>2.Материал.</b> Кроссовки сделаны из нубука премиального
                качества, что позволяет обуви быть легче, удобнее и красивее.<br>
                <b>3.Универсальность.</b> Данную модель можно использовать в любых условиях
                и для любых целей. Производитель разработал большой размерный диапазон.<br>
                <b>4.Новые технологии.</b> Подошва данной модели создаётся из нескольких слоёв каучука,
                который специально обрабатывается. Также она имеет особенность моментально
                восстанавливаться после контакта с поверхностью, чтобы вытолкнуть
                ногу в нужном направлении. На задней поверхности можно увидеть специальную
                резиновую вставку, которая выполняет функцию защиты и позволяет хорошо
                фиксировать голеностоп.</p>
        </div>
        <div>
            <div class="slider-btns prevBtn">
                <img src="{% static 'img/prev.png' %}" alt="">
            </div>
            <div class="slide showSlide">
                <img src='{% static 'img/анимашка-1.gif' %}'>
            </div>
            <div class="slide">
                <img src='{% static 'img/nb1.jpg' %}'>
            </div>
            <div class="slide">
                <img src='{% static 'img/nb2.png' %}'>
            </div>
            <div class="slide">
                <img src='{% static 'img/nb3.png' %}'>
            </div>
            <div class="slide">
                <img src='{% static 'img/nb4.png' %}'>
            </div>
            <div class="slider-btns nextBtn">
                <img src="{% static 'img/next.png' %}" alt="">
            </div>
        </div>
    </section>
    <footer class="footer">
        <nav>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'home' %}">ABOUT</a>
        </nav>
        <div class="footer_icons">
            <h4>Купить можно тут</h4>
            <a href="https://www.instagram.com/credo.sh/"><img src="{% static 'img/instagram.png' %}"
                                                               alt="instagram"></a>
            <a href="https://t.me/credo_sh"><img src="{% static 'img/telegram.png' %}" alt="telegram"></a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'scripts/sliderbutton.js' %}"></script>
</body>
</html>