body {
    background: #EBEDF0;
    color: black;
    width: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.flex-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.form_menu {
    margin-right: 30px;
}
.form_menu > li {
    text-decoration: none;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.tab-content {
    display: none;
}
.form_menu-list:hover {
    background: #E1E3E6;
}

.form_menu-tabs {
    text-decoration: none;
    color: black;
}

.form_wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px solid #E0E0E0;
    border-radius: 5%;
    background: white;
    width: 400px;
    height: 400px;
}

.account_form {
    display: flex;
    flex-direction: column;
}